<h2>Mostrando mi nueva Galería</h2>
<h1>Checkbox</h1>
{% if section.settings.galery-check == true %}
    <h2>El checkbox fue checkeado</h2>
{% else %}
    <h2>El checkbox no fue checkeado</h2>
{% endif %}

{% schema %}
{
    "name": "Garlery de Ropa",
    "settings": [
        {
            "id": "galery",
            "type": "checkbox",
            "label": "Elige una talla"
        }
    ],
    "templates": ["index", "page", "product"],
    "presets": [
        {
            "name": "Galery",
            "category": "Reference"
        }
    ]
}
{% endschema %}